.container { display: flex; }
.btn {
  padding: 0.4rem 0.8rem;
  background-color: #FFF;
  border: 0px;
  font-size: 1.1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: #e9efff;
  border-radius: 0.4rem;
}
.select {}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.leftLogo {
  padding: 1rem;
}

.center {
  flex: 3;
  justify-content: center;
}
.centerList {
  max-width: 30rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.centerListBtn {}

.right {
  display: flex;
  align-items: center;
  flex: 1;
}
.rightMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightTicket {}
.rightTicketImageLager {
  width: 16rem;
}
.rightTicketImageSmall {
  display: none !important;
}
.rightNotice {
  margin: 0.8rem;
}
.rightBtnGroup {
  display: flex;
  width: 8rem;
  margin: 0.8rem 0.4rem 0.8rem 0rem;
  justify-content: space-between;
}
.rightSignInBtn,.rightLoginBtn {
    font-size: .8rem;
    font-weight: 400;
    color: #878d93;
    border: 1px solid #abc;
    border-radius: 0.2rem;
    padding: 0.14rem 0.46rem;
}
.rightLoginBtn {}
.rightSelectLanguage {
  border: 0;
  color: #878d93;
}

